<h3 class="h3">Agregar / editar inmueble</h3>
<% if(error) { %>
    <p class="alert-danger">Se ha producido un error</p>
<% } %>
<form id="form_inmueble" action="" enctype="multipart/form-data">

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input id="descripcion" name="descripcion" type="text" minlength="10" class="form-control" placeholder="Introduce descripción (min 10 caracteres)" required
        value="<%=inmueble.descripcion%>">
    </div>
    <div class="form-group">
        <label for="descripcion">Tipo de inmueble</label>
        <select class="form-control" name="tipoInmueble" id="tipoInmueble">
        <% if(inmueble.tipo) { %>
            <option value="<%= inmueble.tipo.nombre%>"><%= inmueble.tipo.nombre%>
        <% } else { %>
            <option value="Piso">Piso</option>
            <option value="Bungalow">Bungalow o adosado</option>
            <option value="Atico">Ático</option>
            <option value="Chalet">Chalet</option>
            <option value="Planta_baja">Planta baja</option>
        <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="numHabitaciones">Número de habitaciones</label>
        <input id="numHabitaciones" name="numHabitaciones" type="number" min="1" class="form-control" placeholder="1" required
        value="<%=inmueble.numHabitaciones%>">
    </div>
    <div class="form-group">
        <label for="superficie">Superficie (en m2)</label>
        <input id="superficie" name="superficie" type="number" min="25" class="form-control" placeholder="100" required
        value="<%=inmueble.superficie%>">
    </div>
    <div class="form-group">
        <label for="precio">Precio</label>
        <input id="precio" name="precio" type="number" min="10000" class="form-control" placeholder="10000" required
        value="<%=inmueble.precio%>">
    </div>
    <div class="form-group">
        <% if (inmueble.id) { %>
            <!--El usuario no puede editar la imagen-->
        <% } else { %>
            <label for="imagen">Imagen</label>
            <input id="imagen" name="imagen" type="file" class="form-control" required>
        <% } %>
       
    </div>
    <div class="form-group">
        <% if (inmueble.id) { %>
            <a href="/" id="btnEditar" class="btn btn-primary" onclick="updateInmueble('<%=inmueble.id%>')">Editar</a>
        <% } else { %>
            <a href="/" id="btnCrear" class="btn btn-primary" onclick="postInmueble()">Crear inmueble</a>
        <% } %>
    </div>
</form>