<% if (error) { %>
    <div id="fichaError" class="alert-danger" style="display: none">
        <p>Error al borrar o editar</p>
    </div>
<% } %>
<% if (inmueble) {%>
<div class="center-block">
    <div class="card col-6">
        <img class="card-img-top img-thumbnail image" src="<%=inmueble.imagen%>">
        <div class="card-block">
            <h4 class="card-title"><%=inmueble.descripcion %></h4>
            <p class="card-text">Tipo de inmueble: <%=inmueble.tipo.nombre%></p>
            <p class="card-text">Número de habitaciones: <%=inmueble.numHabitaciones%></p>
            <p class="card-text">Superficie: <%=inmueble.superficie%> m2</p>
            <p class="card-text">Precio: <%=inmueble.precio%> €</p>
            <button class="btn btn-danger" onclick="deleteInmueble('<%=inmueble.id%>')">Eliminar inmueble</button>
            <button onclick="getEditarInmueble('<%=inmueble.id%>')" class="btn btn-primary">Editar inmueble</button>
        </div>
    </div>
</div>
<% } %>