<h3>Filtrar inmuebles</h3>
<form id="form_filtrar">
    <div class="form-group">
        <label for="precio">Elige un precio máximo</label>
        <input id="precioFiltrar" min="0" name="precio" type="number" class="form-control" value="0">
    </div>
    <div class="form-group">
        <label for="superficie">Introduce un máximo de superficie (en m2)</label>
        <input id="superficieFiltrar" min="0" name="superficie" type="number" class="form-control" value="0">
    </div>
    <div class="form-group">
        <label for="numHabitaciones">Introduce un número máximo de habitaciones</label>
        <input id="numHabitacionesFiltrar" min="0" name="numHabitaciones" type="number" class="form-control" value="0">
    </div>
    <div class="form-group">
    <a class="btn btn-primary text-white" onclick="filtrarInmuebles()">Filtrar</a>
    </div>
</form>