<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inmobiliaria</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="text-white text-center bg-primary p-1">Inmobiliaria</h1>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href="javascript:cargar('/inicio')">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:cargar('/inmuebles')">Listar inmuebles</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:cargar('/filtrar_inmuebles')">Filtrar inmueble</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:agregarInmueble()">Agregar inmueble</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:cargar('/login')">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:cargar('/registro')">Registro</a></li>
                </ul>
             </nav>
        </div>