<h3 class="h3">Bienvenido a la inmobiliaria</h3>
<div class="container">
    <div class="row">
        <p>Si quieres consultar los inmuebles a la venta, pulsa aquí <a href="javascript:cargar('/inmuebles')" class="btn btn-success mr-4">Listar inmuebles</a></p>
    </div>
    <div class="row">
        <p>Si quieres agregar un nuevo inmueble, pulsa aquí <a href="javascript:agregarInmueble()" class="btn btn-info">Agregar inmueble</a></p>
    </div>
</div>