<h3>Listar inmuebles</h3>
<% 
if (inmuebles.length > 0)
{
%>
<div class="card-deck">
    <% inmuebles.forEach(inmueble => {%>
    <div class="card p-1 my-2 col-3">
        <a href="javascript:cargar('/inmuebles/<%=inmueble.id%>')"><img class="card-img-top img-thumbnail"src="<%=inmueble.imagen%>"></a>
        <div class="card-block">
            <a href="javascript:cargar('/inmuebles/<%=inmueble.id%>')"><h4 class="card-title"><%=inmueble.descripcion %></h4></a>
            <p class="card-text">Tipo de inmueble: <%=inmueble.tipo.nombre%></p>
            <p class="card-text">Número de habitaciones: <%=inmueble.numHabitaciones%></p>
            <p class="card-text">Superficie: <%=inmueble.superficie%> m2</p>
            <p class="card-text">Precio: <%=inmueble.precio.toLocaleString('es-ES');%> €</p>
        </div>
    </div>
    <%}); %>
</div>
<% } else { %>
    <div class="alert-danger">
        <p>No se han encontrado inmuebles</p>
    </div>
<% } %>