<h3>Login</h3>

<div id="loginError" class="alert alert-danger" style="display: none">
        Usuario o contraseña incorrectos
</div>

<div>
    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" id="login" name="login">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button class="btn btn-primary" onclick=login()>Enviar</button>
</div>