<h3>Registro</h3>

<div id="registroError" class="alert alert-danger" style="display: none">
    No se pudo completar el registro
</div>

<div>
    <div class="form-group">
        <label for="nombre">Introduce tu nombre:</label>
        <input type="text" class="form-control" id="nombreRegistro" name="nombre">
    </div>
    <div class="form-group">
        <label for="login">Introduce tu login:</label>
        <input type="text" class="form-control" id="loginRegistro" name="login">
    </div>

    <div class="form-group">
        <label for="password">Introduce tu password:</label>
        <input type="password" class="form-control" id="passwordRegistro" name="password">
    </div>
    <button class="btn btn-primary" onclick=registro()>Enviar</button>
</div>